<%= form_for artist, html: {multipart: true } do |f| %>
	
		<div class="form-field">
			<%= f.text_field :name, :placeholder => "Name", class: "form-control" %>
		</div>

	<br>

	<div class="form-field">
		<%= f.label "Add an image:" %>
		<%= f.file_field :image, class: "form-control" %>
	</div>

	<div class="form-field">
		<%= f.submit "Save", class: "btn btn-primary" %>
	</div>

<% end %>