<div class="container-fluid">

<div class="container">
	<%= link_to new_artist_path, class: "btn btn-primary btn-top" do %>
	    <i class="glyphicon glyphicon-plus-sign"></i> Add A New Artist
	<% end %>
</div>

	<div class="tiles">
		<% @artists.each do |artist| %>
			<div class="well">
				<p><%= link_to image_tag(artist.image.url(:thumb), class: "img-circle"), artist %></p>
					<%= link_to artist.name, artist_path(artist) %>
					<br>
					<br>
					<div class="text-center">
						<% Song.where(artist_id: artist.id).average("rating").to_i.times do %>
							<span class="glyphicon glyphicon-star"></span>
						<% end %>
					<br>
					(<%= Song.where(artist_id: artist.id).average("rating").to_i %>/10)
					</div>
				<hr>
				<div>
					<%= link_to edit_artist_path(artist), class: "btn btn-primary btn-top" do %>
			    <i class="glyphicon glyphicon-pencil"></i> Edit Artist
					<% end %>
					<%= link_to artist_path(artist), method: :delete, class: "btn btn-primary btn-top", data: { confirm: "Do you really want to delete this artist along with all of their songs?" } do %>
			    <i class="glyphicon glyphicon-trash"></i> Delete Artist
					<% end %>
				</div>
			</div>
		<% end %>
	</div>
</div>