<div class="container show col-sm-7 col-lg-7">
	<h1><strong><%= artist.name %></strong></h1>

	<h3>Average Rating: 
		<br>
		<% artist.star_rating.times do %>
		<span class="glyphicon glyphicon-star"></span>
		<% end %> (<%= artist.average_rating %>/10)
	</h3>
	<hr>

	<h2>Songs by this artists:</h2>
	<% @songs.each do |song| %>
	<h3><%= link_to song.name, song %></h3>
	<% end %>
</div>


<div class="container show col-sm-4 col-lg-4">
	<h1><strong>You may also like:</h1></strong>
	<% @spotify_artist.related_artists.take(12).each do |spotify_artist| %>
		<p><%= link_to spotify_artist.name, spotify_artist.uri %></p>
	<% end %>
</div>


<div class="container show col-sm-4 col-lg-4">
	<h1><strong>Playlists you may like:</h1></strong>
	<% @spotify_playlists.each do |spotify_playlist| %>
			<p><%= link_to spotify_playlist.name, spotify_playlist.uri(country: "US") %></p>
	<% end %>
</div>